/* Mobile-first reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}


.home-container {
  background-color: #111;
  color: white;
  min-height: 100vh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: sans-serif;
  height: 100%;
  overflow-y: auto;
}

/* Common block styles */
.info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.info-main {
  font-size: 1.5rem;
  font-weight: bold;
}

.small-note {
  font-size: 0.85rem;
}

/* Specific block colors */
.red-block {
  background-color: red;
  color: black;
}

.blue-block {
  background-color: #00f5ff;
  color: black;
}



/* Yellow placeholder */
.yellow-block {
  background-color: yellow;
  height: 100px;
  color: black;
  border-radius: 20px;
}

/* IFrame container with blue border */
.iframe-box {
  border: 4px solid #00f5ff;
  border-radius: 16px;
  overflow: hidden;
  height: "100%"; 
  overflow-y: "auto"
}

/* Arrow icon */
.arrow-icon {
  width: 24px;
  height: 24px;
}
